<div class="usa-card usa-card-fill left-rail">
	<div class="usa-card-header">
		Refine My Search
	</div>
	<div class="usa-card-content">
		<h4>Institution</h4>
		<input type="radio" id="all-school" name="institution-type" 
			class="filter" value="all" data-text="All" 
			data-count="0" checked />
		<label id="all-school-label" for="all-school"></label>

		<input type="radio" id="school" name="institution-type" 
			class="filter" value="school" data-text="School" 
			data-count="0" />
		<label id="school-label" for="school"></label>

		<input type="radio" id="employer" name="institution-type" 
			class="filter" value="employer" data-text="Employer" 
			data-count="0"/>
		<label id="employer-label" for="employer"></label>

		<h4>Location</h4>
		<label for="state">State: </label>
		<select id="states" name="state" class="filter">
			<option value="all" data-text="All" data-count="0" selected>&nbsp;</option>
			<% @states.each do |state| %>
				<option value="<%= state %>" data-count="0" data-text="<%= state.upcase %>">
					&nbsp;
				</option>
			<% end %>
		</select>

		<label for="country">Country: </label>
		<select id="countries" name="country" class="filter">
			<option value="all" data-text="All" selected>&nbsp;</option>
			<% @countries.each do |country| %>
				<option value="<%= country %>" data-text="<%= to_caps(country) %>">
					&nbsp;
				</option>
			<% end %>
		</select>

		<h4>School Features</h4>
		<input type="checkbox" id="student-veteran" name="student_veteran" 
			class="filter" value="true" data-text="Student Veteran Group" />
		<label id="student-veteran-label" for="student-veteran"></label>

		<input type="checkbox" id="yr" name="yr" 
			class="filter" value="true" data-text="Yellow Ribbon Scholarship" />
		<label id="yr-label" for="yr"></label>

		<input type="checkbox" id="poe" name="poe" 
			class="filter" value="true" data-text="Principles of Excellence" />
		<label id="poe-label" for="poe"></label>

		<input type="checkbox" id="eight-keys" name="eight_keys" 
			class="filter" value="true" data-text="8 Keys to Veteran Success" />
		<label id="eight-keys-label" for="eight-keys"></label>

		<h4>Types of Schools</h4>

		<% @types.each do |type| %>
			<% id, name = type.gsub(' ', '-'), type.gsub(' ', '_') %>
			<input type="checkbox" id="<%= id %>" name="type" 
				class="filter" value="<%= type %>" data-text="<%= to_caps(type) %>" />
			<label id="<%= id %>-label" for="<%= id %>"></label>
		<% end %>

	</div>
</div>

<script>
$(document).ready(function() {
	var filter = new Filter(".filter", ".school_summary");
	var searchTerm = "<%= @inputs[:institution_search] %>";

	/////////////////////////////////////////////////////////////////////////////
	// Disable state filter when the country is not US or all on country change.
	/////////////////////////////////////////////////////////////////////////////
	$("#countries").change(function() {
		var value = $(this).val().toLowerCase();

		if ($.inArray(value, ["all", "usa"]) == -1)
			$("#states").prop("disabled", true).val("all");
		else
			$("#states").prop("disabled", false);
	});
});
</script>
