<h3>Refine My Search</h3>
<div>
	<h4>Institution</h4>
		<input type="checkbox" id="employer" name="type" 
			class="filter" value="ojt" data-text="Employer" />
		<label id="employer-label" for="employer"></label><br/>
</div>
<div>
	<h4>Location</h4>
	<label for="state">State: </label>
	<select id="states" name="state" class="filter">
		<option value="all" data-text="All" selected>&nbsp;</option>
		<% @states.each do |state| %>
			<option value="<%= state %>" data-text="<%= state.upcase %>">
				&nbsp;
			</option>
		<% end %>
	</select>
	<br/>

	<label for="country">Country: </label>
	<select id="countries" name="country" class="filter">
		<option value="all" data-text="All" selected>&nbsp;</option>
		<% @countries.each do |country| %>
			<option value="<%= country %>" data-text="<%= to_caps(country) %>">
				&nbsp;
			</option>
		<% end %>
	</select>
</div>

<div>
	<h4>Location</h4>
	<input type="checkbox" id="student-veteran" name="student_veteran" 
		class="filter" value="true" data-text="Student Veteran Group" />
	<label id="student-veteran-label" for="student-veteran"></label><br/>

	<input type="checkbox" id="yr" name="yr" 
		class="filter" value="true" data-text="Yellow Ribbon Scholarship" />
	<label id="yr-label" for="yr"></label><br/>

	<input type="checkbox" id="poe" name="poe" 
		class="filter" value="true" data-text="Principles of Excellence" />
	<label id="poe-label" for="poe"></label><br/>

	<input type="checkbox" id="eight-keys" name="eight_keys" 
		class="filter" value="true" data-text="8 Keys to Veteran Success" />
	<label id="eight-keys-label" for="eight-keys"></label><br/>
</div>

<div>
	<h4>Types of Schools</h4>
	<% @types.each do |type| %>
		<% id, name = type.gsub(' ', '-'), type.gsub(' ', '_') %>

		<input type="checkbox" id="<%= id %>" name="type" 
			class="filter" value="<%= type %>" data-text="<%= to_caps(type) %>" />
		<label id="<%= id %>-label" for="<%= id %>"></label><br/>
	<% end %>
</div>
<script>
$(document).ready(function() {
	/////////////////////////////////////////////////////////////////////////////
	// Populate initial counts for states and countries
	/////////////////////////////////////////////////////////////////////////////
	refreshFilters(".school_summary", ".filter");

	/////////////////////////////////////////////////////////////////////////////
	// Disable state filter when the country is not US or all on country change.
	/////////////////////////////////////////////////////////////////////////////
	$("#countries").change(function() {
		var value = $(this).val().toLowerCase();

		if ($.inArray(value, ["all", "usa"]) == -1)
			$("#states").prop("disabled", true).val("all");
		else
			$("#states").prop("disabled", false);

		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});

	/////////////////////////////////////////////////////////////////////////////
	// Institution changes
	/////////////////////////////////////////////////////////////////////////////
	$("#employer").change(function() {
		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});

	/////////////////////////////////////////////////////////////////////////////
	// State changes
	/////////////////////////////////////////////////////////////////////////////
	$("#states").change(function() {
		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});

	/////////////////////////////////////////////////////////////////////////////
	// Feature changes
	/////////////////////////////////////////////////////////////////////////////
	$("#student-veteran").change(function() {
		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});

	$("#yr").change(function() {
		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});

	$("#poe").change(function() {
		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});
	
	$("#eight-keys").change(function() {
		runFilter(".school_summary", ".filter");
		refreshFilters(".school_summary", ".filter");
	});

	/////////////////////////////////////////////////////////////////////////////
	// Feature changes
	/////////////////////////////////////////////////////////////////////////////
	$(".filter:checkbox").each(function() {
		if ($(this).attr('name') === 'type') {
			$(this).change(function() {
				runFilter(".school_summary", ".filter");
				refreshFilters(".school_summary", ".filter");				
			});
		}
	});
});
</script>
