<div class="usa-width-one-whole">
    
    <table class="usa-table-borderless">
        <tr>
            <td>Accredited?</td>
            <td><%= @school.accredited ? 'Yes' : 'No' %></td>
        </tr>
        
        <% if @school.accredited %>
        <tr>
            <td> Type of Accrediation:</td>
            <td><%= @school.accreditation_type %></td>
        </tr>
        <% end %>
        <% if @school.vet_tuition_policy_url.present? %>
        <tr>
            <td>Link to Veterans Tuition Policy:</td>
            <td><a href="http://<%= @school.vet_tuition_policy_url %>">View Policy</a></td>
        </tr>
        <% end %>
        <tr>
            <td>Single Point of Contact For Veterans:</td>
            <td><%= @school.vet_poc ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
            <td>Credit for Military Training:</td>
            <td><%= @school.credit_for_mil_training ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
            <td>Servicemember Opportunity College Member:</td>
            <td><%= @school.soc_member ? 'Yes' : 'No' %></td>
        </tr>        
        <tr>
            <td>VA Facility Code:</td>
            <td><%= @school.facility_code %></td>
        </tr>
        <tr>
            <td>ED IPEDS Code:</td>
            <td><%= @school.cross %></td>
        </tr>
        <tr>
            <td>ED OPE Code:</td>
            <td><%= @school.ope %></td>
        </tr>
    </table>
</div>
    