<div class="usa-width-one-whole">
    
    <table class="usa-table-borderless profile-school-summary">
        <tr>
            <td>Accredited<a id="go" rel="leanModal" name="status" href="#accredited" class="info-icons">&nbsp;<i id="acreditied-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td>
              <% if @school.accredited %>
                Yes
                <% if (pc = @school.cross).present? %>
                  <td><a href="http://nces.ed.gov/collegenavigator/?id=<%= pc%>#accred" target="_blank">See Accreditors</a>
                <% end %></td>
              <% else %>
                No
              <% end %>
            </td>
        </tr>
        
        <% if @school.accredited %>
          <tr>
            <td> Type of Accreditation:<a id="go" rel="leanModal" name="status" href="#typeaccredited" class="info-icons">&nbsp;<i id="type-of-accreditation-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td><%= @school.accreditation_type %></td>
            <td></td>
          </tr>
        <% end %>

        <% if @school.vet_tuition_policy_url.present? %>
        <tr>
            <td>Link to Veterans Tuition Policy:<a id="go" rel="leanModal" name="status" href="#tuition-policy" class="info-icons">&nbsp;<i id="link-to-tuition-policy-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td><a target="_blank" href="http://<%= @school.vet_tuition_policy_url %>">View Policy</a></td>
            <td></td>
        </tr>
        <% end %>
        <tr>
            <td>Single Point of Contact For Veterans:<a id="go" rel="leanModal" name="status" href="#single-contact" class="info-icons">&nbsp;<i id="single-point-of-contact-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td><%= @school.vet_poc.present? ? @school.vet_poc ? "Yes" : "No" : 'No Data' %></td>
            <td></td>
        </tr>
        <tr>
            <td>Credit for Military Training:<a id="go" rel="leanModal" name="status" href="#credit-training" class="info-icons">&nbsp;<i id="credit-for-military-training-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td>
                <%= @school.credit_for_mil_training.present? ? 
                    (@school.credit_for_mil_training ? "Yes" : "No") : 'No Data' %>
            </td>
            <td></td>
        </tr>
<!--
        <tr>
            <td>Servicemember Opportunity College Member:<a id="go" rel="leanModal" name="status" href="#servicemember-opportunity" class="info-icons">&nbsp;<i id="servicemember-opportunity-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td><%= @school.soc_member.present? ? @school.soc_member ? "Yes" : "No" : 'No Data' %></td>
            <td></td>
        </tr>        
-->
<!--
        <tr>
            <td>VA Facility Code:<a id="go" rel="leanModal" name="status" href="#facility-code" class="info-icons">&nbsp;<i id="va-facility-code-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td><%= @school.facility_code.present? ? @school.facility_code : 'No Data' %></td>
            <td></td>
        </tr>
        <tr>
            <td>ED IPEDS Code:<a id="go" rel="leanModal" name="status" href="#ipeds-code" class="info-icons">&nbsp;<i id="ipeds-code-info" class="fa fa-info-circle info-icons"></i></a></td>
            <td><%= @school.cross.present? ? @school.cross : 'No Data' %></td>
            <td></td>
        </tr>
        <tr>
            <td>ED OPE Code:<a id="go" rel="leanModal" name="status" href="#ope-code" class="info-icons">&nbsp;<i id="ed-ope-code-info"class="fa fa-info-circle info-icons"></i></a></td>
            <td><%= @school.ope.present? ? @school.ope : 'No Data' %></td>
            <td></td>
        </tr>
-->
    </table>
</div>

<!-- MODALS -->

<!-- Accredited -->
<div id="accredited" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Is your school accredited</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
        
<p>Accreditation matters if you plan to start school at one institution and transfer to another to complete your degree. Be sure to ask any potential school about their credit transfer policy. The U.S. Department of Education (ED) maintains a&nbsp;<a href="http://ope.ed.gov/accreditation/" id="anch_384" target="_blank">database</a>&nbsp;of accredited postsecondary institutions and programs. Accreditation is a recognized credential for schools and some programs. As stated by the ED, the goal of accreditation is to ensure that the education provided by institutions of higher education meets acceptable levels of quality.</p>

        <p> To learn more about accreditaion, visit the <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accreditation" target="_blank"> about this tool</a> page. </p>
</div> </div> 

<!--END accredited -->

<!-- Accredited -->
<div id="typeaccredited" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Accreditation types (Regional vs. National vs Hybrid)</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
        
<p>Is the school regionally or nationally accredited at the institution level?</p>
        
<p>Schools are accredited by private educational associations of regional or national scope. While the Department of Education does not say whether regional or national accreditation is better, a recent ED study revealed that, “Nearly 90 percent of all student credit transfer opportunities occurred between institutions that were regionally, rather than nationally, accredited.” <a href="http://nces.ed.gov/pubs2014/2014163.pdf" id="anch_386">http://nces.ed.gov/pubs2014/2014163.pdf</a></p>

        <p> To learn more about accreditaion, visit the <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accreditation_type" target="_blank"> about this tool</a> page. </p>
</div></div>  

<!--END accredited -->

<!-- Tuition Policy -->
<div id="tuition-policy" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Link to Veterans Tuition Policy</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>        
        <p>URL for tuition policies specifically related to veterans and military service members.</p>
</div></div>  

<!--END Tuition Policy -->

<!-- Single Point of Contact -->
<div id="single-contact" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Single Point of Contact For Veterans</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
    <p>Does the school have a dedicated point of contact for support services for veterans, military servicemembers, and their families?</p>
</div></div>  

<!--END Single Point of Contact -->

<!-- Credit for Military Training -->
<div id="credit-training" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Credit for Military Training</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
    <p>Does the school offer postsecondary credit for experiences and military training?</p>
</div></div>  

<!--END Credit for Military Training -->

<!-- Servicemember Opportunity College Member -->
<div id="servicemember-opportunity" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Servicemember Opportunity College Member</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
    <p>Is the school a member of the Servicemembers Opportunity College (SOC)?</p>
</div></div>  

<!--END Servicemember Opportunity College Member -->

<!-- VA Facility Code -->
<div id="facility-code" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>VA Facility Code</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
    <p>Unique identifier for VA approved facilities.</p>
</div></div>  

<!--END SVA Facility Code -->

<!-- ED IPEDS Code -->
<div id="ipeds-code" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>ED IPEDS Code</h3>   
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
    <p>Unique identification number assigned to postsecondary institutions surveyed through the Integrated Postsecondary Education Data System (IPEDS). Also referred to as UNITID or IPEDS ID.</p>
</div></div>  
<!--END ED IPEDS Code -->

<!-- ED OPE Code -->
<div id="ope-code" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>ED OPE Code</h3>   
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
    <p>Identification number used by the U.S. Department of Education's Office of Postsecondary Education (OPE) to identify schools that have Program Participation Agreements (PPA) so that its students are eligible to participate in Federal Student Financial Assistance programs under Title IV regulations.</p>
</div></div>  
<!--END ED OPE Code -->
    
    
    
<script>    
// Makes the modals work!
$("a[rel*=leanModal]").leanModal();
</script>