<div>
	<h3><%= @school.institution %></h3>
	<h5><%= @school.city %>, <%= @school.state %></h5>
</div>

<div>
	<!-- Holds student attendance and link -->
<div>

<div>
	<h4>VA Summary</h4>
	<p><%= @school.gibill %> GI Bill Students</p>
		<ul>
		<li><%= @school.poe ? "\u2714" : "\u2716" %> Principles of Excellence</li>
		<li><%= @school.student_veteran ? "\u2714" : "\u2716" %> Student Veteran Group</li>
		<li><%= @school.eight_keys ? "\u2714" : "\u2716" %> 8 Keys to Veteran Success</li>
		<li><%= @school.yr ? "\u2714" : "\u2716" %> Yellow Ribbon Scholarships</li>
	</ul>
