<div class="usa-width-three-fourths">

	<div class="usa-width-two-thirds">
		<div id="<%= @school.facility_code %>"
			class="profile_overview"
			data-type="<%= @school.institution_type.name %>"
			data-country="<%= @school.country %>"
			data-bah="<%= @school.bah %>">

			<% if @school.caution_flag %>
				<div class="caution-profile">
					<a href="#jumpflag"><i class="fa fa-exclamation-triangle"></i> Caution Flag</a>
                </div>
			<% end %>

			<h2 class="profile-head"><%= @school.institution %></h2>
			<p><%= @school.city %>, <%= @school.state %></p>
		</div>
		<!-- Holds student attendance and link -->
		<p>
            <%= format_number_or_null(@school.undergrad_enrollment, "Total Enrollment:") %>
		</p>

		<% if @school.insturl.present? %>
			<p><a href="http://<%= @school.insturl.downcase %>">
				<%= @school.insturl.downcase %>
			</a></p>
		<% end %>

		<!-- School descriptors, eg 4 yr, type, ... Add meaningful icon -->
		<div class="usa-width-four-sixths">
            
            <div class="profile-institute-descriptors usa-width-one-sixth"> <!--PLACE DATA BEFORE "YEARS" TEXT -->
                <span class="profile-years-programs">4</span><!-- replace this with data -->
                <p class="estimate-qualifier">YEARS</p>
            </div>
            
			<div class="profile-institute-descriptors usa-width-one-sixth"><!--HAS DATA. ADD OTHERS LIKE THIS ONE -->
                <i class="fa fa-university fa-profile-descriptors"></i>
                <p class="estimate-qualifier"><%= @school.institution_type.name.upcase %></p>
            </div>
            
            <div class="profile-institute-descriptors usa-width-one-sixth"><!--NEEDS DATA  -->
                <i class="fa fa-map fa-profile-descriptors"></i>
                <p class="estimate-qualifier">CITY</p><!-- RELACE THIS WITH DATA -->
            </div>
            
            <div class="profile-institute-descriptors usa-width-one-sixth"><!--NEEDS DATA  -->
                <i class="fa fa-users fa-profile-descriptors"></i>
                <p class="estimate-qualifier">MEDIUM</p><!-- RELACE THIS WITH DATA -->
            </div>
            
		</div>
	</div>

	<div class="usa-width-one-third nested usa-card usa-card-fill">
	  <div class="usa-card-header">
			<h4>VA Summary</h4>
	  </div>
	  <div class="usa-card-content va-summary-card">
          <p><span class="search-value-each"><%= @school.gibill %></span> GI Bill Students</p>
			<ul>
				 <% v_str = '<span class="programs-' + (@school.student_veteran ? "yes\">\u2714" : "no\">\u2716") + '</span>' %>
                <li><%= v_str.html_safe %> <span class="programs-text">Student Veteran Group</span></li>
                
                <% v_str = '<span class="programs-' + (@school.yr ? "yes\">\u2714" : "no\">\u2716") + '</span>' %>
                <li><%= v_str.html_safe %> <span class="programs-text">Yellow Ribbon Scholarships</span></li>
                
                <% v_str = '<span class="programs-' + (@school.poe ? "yes\">\u2714" : "no\">\u2716") + '</span>' %>
                <li><%= v_str.html_safe %> <span class="programs-text">Principles of Excellence</span></li>
                
                <% v_str = '<span class="programs-' + (@school.dodmou ? "yes\">\u2714" : "no\">\u2716") + '</span>' %>
                <li><%= v_str.html_safe %> <span class="programs-text">Military Tuition Assistance (TA)</span></li>

                <% v_str = '<span class="programs-' + (@school.eight_keys ? "yes\">\u2714" : "no\">\u2716") + '</span>' %>
                <li><%= v_str.html_safe %> <span class="programs-text">8 Keys to Veteran Success</span></li>
                
			</ul>
	  </div>
	</div>

	<div class="usa-width-one-whole usa-card usa-card-fill">
	  <div class="usa-card-header">
			<h3>Benefits Estimator</h3>
		</div>
	</div>

	<div class="usa-width-one-third usa-card usa-card-fill">
	  <div class="usa-card-content">	
			<h4>Tuition and Fees</h4>
			<p id="est-tuition-fees"></p>
		</div>
	</div>

	<div class="usa-width-one-third usa-card usa-card-fill">
	  <div class="usa-card-content">	
			<h4>Housing Allowance</h4>
			<p id="est-housing-allowance"></p>
		</div>
	</div>

	<div class="usa-width-one-third usa-card usa-card-fill">
	  <div class="usa-card-content">	
			<h4>Book Stipend</h4>
			<p id="est-book-stipend"></p>
		</div>
	</div>
</div>

<div id="additional-resources" class="usa-width-one-fourth usa-card usa-card-fill">
  <div class="usa-card-header">
		<h4>Additional Resources</h4>
  </div>
  <div class="usa-card-content">	
  	<%= render partial: 'profile_additional_resources' %>
  </div>
</div>


