<div class="usa-width-one-whole">
    
    <table class="usa-table-borderless">
        <tr>
            <td>Accredited<a id="go" rel="leanModal" name="status" href="#accredited"><i class="fa fa-info-circle info-icons"></i></a></td>
            <td>
              <% if @school.accredited %>
                Yes
                <% if (pc = @school.cross).present? %>
                  <td><a href="http://nces.ed.gov/collegenavigator/?id=<%= pc%>#accred" target="_blank">See Accreditors</a>
                <% end %></td>
              <% else %>
                No
              <% end %>
            </td>
        </tr>
        
        <% if @school.accredited %>
          <tr>
            <td> Type of Accrediation:<a id="go" rel="leanModal" name="status" href="#typeaccredited"><i class="fa fa-info-circle info-icons"></i></a></td>
            <td><%= @school.accreditation_type %></td>
            <td></td>
          </tr>
        <% end %>

        <% if @school.vet_tuition_policy_url.present? %>
        <tr>
            <td>Link to Veterans Tuition Policy:</td>
            <td><a href="http://<%= @school.vet_tuition_policy_url %>">View Policy</a></td>
            <td></td>
        </tr>
        <% end %>
        <tr>
            <td>Single Point of Contact For Veterans:</td>
            <td><%= @school.vet_poc.present? ? @school.vet_poc : 'No Data' %></td>
            <td></td>
        </tr>
        <tr>
            <td>Credit for Military Training:</td>
            <td><%= @school.credit_for_mil_training.present? ? @school.credit_for_mil_training : 'No Data' %></td>
            <td></td>
        </tr>
        <tr>
            <td>Servicemember Opportunity College Member:</td>
            <td><%= @school.soc_member.present? ? @school.soc_member : 'No Data' %></td>
            <td></td>
        </tr>        
        <tr>
            <td>VA Facility Code:</td>
            <td><%= @school.facility_code.present? ? @school.facility_code : 'No Data' %></td>
            <td></td>
        </tr>
        <tr>
            <td>ED IPEDS Code:</td>
            <td><%= @school.cross.present? ? @school.cross : 'No Data' %></td>
            <td></td>
        </tr>
        <tr>
            <td>ED OPE Code:</td>
            <td><%= @school.ope.present? ? @school.ope : 'No Data' %></td>
            <td></td>
        </tr>
    </table>
</div>

<!-- MODALS -->

<!-- Accredited -->
<div id="accredited" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Is your school accredited</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
        
<p>Accreditation matters if you plan to start school at one institution and transfer to another to complete your degree. Be sure to ask any potential school about their credit transfer policy. The U.S. Department of Education (ED) maintains a&nbsp;<a href="http://ope.ed.gov/accreditation/" id="anch_384" target="_blank">database</a>&nbsp;of accredited postsecondary institutions and programs. Accreditation is a recognized credential for schools and some programs. As stated by the ED, the goal of accreditation is to ensure that the education provided by institutions of higher education meets acceptable levels of quality.</p>

        <p> To learn more about accreditaion, visit the <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accreditation" target="_blank"> about this tool</a> page. </p>
</div> </div> 

<!--END accredited -->

<!-- Accredited -->
<div id="typeaccredited" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
    <div>
    <h3>Accreditation types (Regional vs. National vs Hybrid)</h3>
    
    <a class="modal_close" href=""><i class="fa fa-close"></i></a>
        
<p>Is the school regionally or nationally accredited at the institution level?</p>
        
<p>Schools are accredited by private educational associations of regional or national scope. While the Department of Education does not say whether regional or national accreditation is better, a recent ED study revealed that, “Nearly 90 percent of all student credit transfer opportunities occurred between institutions that were regionally, rather than nationally, accredited.” <a href="http://nces.ed.gov/pubs2014/2014163.pdf" id="anch_386">http://nces.ed.gov/pubs2014/2014163.pdf</a></p>

        <p> To learn more about accreditaion, visit the <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#accreditation_type" target="_blank"> about this tool</a> page. </p>
</div></div>  

<!--END accredited -->
    
    
    
<script>    
// Makes the modals work!
$("a[rel*=leanModal]").leanModal();
</script>