<div id="<%= school_summary[:facility_code] %>"  
	style="background-color: #ddd; height: 15em; width: 25em; padding: 1em; margin: 1em; float: left"
	class="school_summary"

	data-facility-code="<%= school_summary[:facility_code] %>"
	data-institution="<%= school_summary[:institution] %>"
	data-city="<%= school_summary[:city] %>"
	data-state="<%= school_summary[:state] %>" 
	data-country="<%= school_summary[:country] %>" 
	data-type="<%= school_summary[:name].try(:downcase) %>"
	data-school="<%= school_summary[:name].try(:downcase) != Institution::EMPLOYER %>"
	data-employer="<%= school_summary[:name].try(:downcase) == Institution::EMPLOYER %>"
	data-poe="<%= school_summary[:poe] %>"
	data-student-veteran="<%= school_summary[:student_veteran] %>"
	data-eight-keys="<%= school_summary[:eight_keys] %>"
	data-yr="<%= school_summary[:yr] %>"
>
	<h3><%= school_summary[:institution] %></h3>

	<% if school_summary[:country].downcase == 'usa' %>
		<h4>
			<%= "#{school_summary[:city]}, #{school_summary[:state]} #{school_summary[:zip]}" %></h4>
	<% else %>
		<h4><%= "#{school_summary[:city]}, #{school_summary[:country]}" %>
	<% end %>

	<div>
		<ul style="list-style-type: none">
			<li><%= school_summary[:poe] ? "\u2714" : "\u2716" %> Principles of Excellence</li>
			<li><%= school_summary[:student_veteran] ? "\u2714" : "\u2716" %> Student Veteran Group</li>
			<li><%= school_summary[:eight_keys] ? "\u2714" : "\u2716" %> 8 Keys to Veteran Success</li>
			<li><%= school_summary[:yr] ? "\u2714" : "\u2716" %> Yellow Ribbon Scholarships</li>
		</ul>
	</div>

	<div>
		<a href="#" style="display:inline-block; background-color: #aaa; width: 100%; text-align: center">Learn More</a>
	</div>
</div>