<div id="<%= school_summary[:facility_code] %>"  
	class="school_summary"

	data-id="<%= school_summary[:id] %>" 
	data-facility-code="<%= school_summary[:facility_code] %>"
	data-institution="<%= school_summary[:institution] %>"
	data-city="<%= school_summary[:city] %>"
	data-state="<%= school_summary[:state] %>" 
	data-country="<%= school_summary[:country] %>" 
	data-type="<%= school_summary[:name].try(:downcase) %>"

	<% if school_summary[:name].try(:downcase) == Institution::EMPLOYER %>
		data-institution-type="employer"
	<% else %>
		data-institution-type ="school"
	<% end %>	

	data-poe="<%= school_summary[:poe] %>"
	data-student-veteran="<%= school_summary[:student_veteran] %>"
	data-eight-keys="<%= school_summary[:eight_keys] %>"
	data-yr="<%= school_summary[:yr] %>"
	data-bah="<%= school_summary[:bah] %>">

	<% if school_summary[:caution_flag] %>
		<div class="caution">
			<a class="a-<%= school_summary[:id] %> searchresults-caution" href="#">Caution Flag</a>
        </div>
	<% end %>

	<h4><a class="a-<%= school_summary[:id] %>" href="#">
		<%= school_summary[:institution] %>
	</a></h4>

	<% if school_summary[:country].downcase == 'usa' %>
		<small>
			<%= "#{school_summary[:city]}, #{school_summary[:state]} #{school_summary[:zip]}" %>
		</small>
	<% else %>
		<p><%= "#{school_summary[:city]}, #{school_summary[:country]}" %></p>
	<% end %>

	<p><%= school_summary[:gibill] %> Student Veterans</p>

	<ul>
		<lh>Based on your selections:</lh>
		<li id="<%= school_summary[:facility_code] %>-est-tuition-fees"></li>
		<li id="<%= school_summary[:facility_code] %>-est-housing-allowance"></li>
		<li id="<%= school_summary[:facility_code] %>-est-book-stipend"></li>
	</ul>

		<a class="a-<%= school_summary[:id] %>" href="#">Learn More</a>
</div>

<script>
	$(document).ready(function() {
		$(".a-<%= school_summary[:id] %>").click(function() {
			href = "<%= profile_path %>?facility_code=<%= school_summary[:facility_code] %>";
			href += "&military_status=" + $("#military-status").val();
			href += "&spouse_active_duty=" + $("#spouse-active-duty").val();
			href += "&gi_bill_chapter=" + $("#gi-bill-chapter").val();
			href += "&cumulative_service=" + $("#cumulative-service").val();
			href += "&enlistment_service=" + $("#enlistment-service").val();
			href += "&consecutive_service=" + $("#consecutive-service").val();
			href += "&elig_for_post_gi_bill=" + $("#elig-for-post-gi-bill").val();
			href += "&number_of_dependents=" + $("#number-of-dependents").val();
			href += "&online_classes=" + $("#online-classes").val();
			href += "&institution_search=<%= @inputs[:institution_search] %>";

			$(this).attr("href", href);
		});
	});
</script>
