<!-- ====================================================================== -->
<!-- == yourself                                                            -->
<!-- == Controls that are used to compute benefits calculations and pertain --> 
<!-- == to the user.                                                        -->
<!--                                                                        -->
<!-- == use_label: true if using labels for these controls.                 --> 
<!-- ====================================================================== -->


<!-- Military status -->
<div class="row">
<!-- This will show up only on the filter/search view and is hidden in the landing page view via the filter-p class. Sorry about the magic -->
<p class="filter-p filter-item about-you" style="display: none;"> About You:</p>

<div class="form-group top-aligned">
  <% if use_label %>
    <label for="military-status">Military Status: <a id="go" rel="leanModal" name="status" href="#militaryStatus" class="info-icons"><i id="military-status-info" class="fa fa-info-circle info-icons"></i></a></label>
  <% end %>
  
<!--    <a id="military-status-info-test" rel="leanModal" name="status" href="#militaryStatus" class="svg-info-icons">Info Icon</a>-->

  <select id="military-status" name="military_status" alt="Select military status" class="filter-item">
    <% { 
      'veteran' => 'Veteran', 'active duty' => 'Active Duty', 
      'national guard / reserves' => 'National Guard / Reserves',
      'spouse' => 'Spouse', 'child' => 'Child' 
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:military_status] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>

<!-- Spouse on active duty -->
<div id="spouse-active-duty-form" class="form-group top-aligned">
  <% if use_label %>
    <label for="spouse-active-duty">Is your spouse on active duty?</label>
  <% end %>
  
  <select id="spouse-active-duty" name="spouse_active_duty" alt="Spouse Active Duty? Yes/No" class="filter-item">
    <% { 
      'yes' => 'Spouse Active Duty', 'no' => 'Spouse Not Active Duty'
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:spouse_active_duty] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>

<!-- GI bill chapter -->
<div id="gi-bill-chapter-form" class="form-group top-aligned">
  <% if use_label %>
    <label for="gi-bill-chapter">Which GI Bill benefit are you thinking of using?   <a id="go" rel="leanModal" name="training" href="#training" class="info-icons"><i id="gi-bill-chapter-info" class="fa fa-info-circle info-icons"></i> </a>
    </label>
  <% end %>
  <select id="gi-bill-chapter" name="gi_bill_chapter" alt="Select which GI Bill benefit you are thinking of using" class="filter-item">
    <% { 
      '33' => 'Post-9/11 GI Bill (Ch 33)', '30' => 'Montgomery GI Bill (Ch 30)', 
      '1606' => 'Select Reserve GI Bill (Ch 1606)', '1607' => 'REAP GI Bill (Ch 1607)',
      '31' => 'Vocational Rehabilitation & Employment (VR&E)', 
      '35' => 'Dependents Educational Assistance (DEA)' 
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:gi_bill_chapter] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>

<!-- Post-9/11 GI Bill Spectific Controls -->
<div id="cumulative-service-form" class="form-group top-aligned">
  <% if use_label %>
    <label for="cumulative-service">Cumulative Post 9-11 Active Duty Service:<a id="go" rel="leanModal" name="service" href="#activeService" class="info-icons"><i id="cumulative-service-info" class="fa fa-info-circle info-icons"></i></a></label>
  <% end %>

  <select id="cumulative-service" name="cumulative_service" alt="Select amount of cumulative Post 9-11 Active Duty Service" class="filter-item">
    <% { 
      '1.0' => '36+ months: 100% (includes BASIC)', '0.9' => '30 months: 90% (includes BASIC)', 
      '0.8' => '24 months: 80% (includes BASIC)', '0.7' => '18 months: 70% (excludes BASIC)',
      '0.6' => '12 months: 60% (excludes BASIC)', '0.5' => '6 months: 50% (excludes BASIC)',
      '0.4' => '90 days: 40% (excludes BASIC)', '0.0' => 'Less than 90 days 0% (excludes BASIC)',
      '1.00' => 'GYSGT Fry Scholarship: 100%', 'service discharge' => 'Service-Connected Discharge: 100%'
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:cumulative_service] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>

<!-- Montgomery Gi Bill Spectific Controls -->
<div id="enlistment-service-form" class="form-group top-aligned">
  <% if use_label %>
    <label for="enlistment-service">Completed an enlistment of:<a id="go" rel="leanModal" name="service" href="#montbill"  class="info-icons"><i id="enlistment-service-info" class="fa fa-info-circle info-icons"></i></a> </label>
  <% end %>

  <select id="enlistment-service" name="enlistment_service" alt="Select length of your enlistment" class="filter-item">
    <% { 
      '3' => '3 or more years', '2' => '2 or more years'
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:enlistment_service] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>

<!-- Select Reserve GI Bill Spectific Controls: None -->

<!-- REAP GI Bill Spectific Controls -->
<div id="consecutive-service-form" class="form-group top-aligned">
  <% if use_label %>
    <label for="consecutive-service">Length of Longest Active Duty Tour:<a id="go" rel="leanModal" name="service" href="#reap" class="info-icons"><i id="longest-active-duty-tour-info" class="fa fa-info-circle info-icons"></i></a></label>
  <% end %>

  <select id="consecutive-service" name="consecutive_service" alt="Select the length of your longest actice duty tour" class="filter-item">
    <% {
      '0.8' => '2+ years of consecutive service: 80%', '0.6' => '1+ year of consecutive service: 60%', 
      '0.4' => '90+ days of consecutive service: 40%'
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:consecutive_service] %>
      ><%= label %></option>
    <% end %>    
  </select>
</div>

<!-- Vocational Rehabilitation & Employment Controls -->
<% if use_label %>
  <div class="form-group top-aligned" id="voc-rehab-warning">
    <p class="caption">To apply for VR&E benefits, please <a href="http://vabenefits.vba.va.gov/vonapp/main.asp" onclick="track('Tool Tips', 'Voc Rehab Warning');" target="_blank">visit this site.</a></p>
  </div>
<% end %>

<div id="elig-for-post-gi-bill-form" class="form-group">
  <% if @label %>
    <label for="elig-for-post-gi-bill">Are you eligible for the Post-9/11 GI Bill?</label>
  <% end %>

  <select id="elig-for-post-gi-bill" name="elig_for_post_gi_bill" alt="Eligible for Post 9/11 GI Bill?" class="filter-item">
    <% { 
      'yes' => 'Eligilble for Post-9/11 Gi Bill', 'no' => 'Not Eligilble for Post-9/11 Gi Bill'
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:elig_for_post_gi_bill] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>

<div id="number-of-dependents-form" class="form-group top-aligned">
  <% if use_label %>
    <label for="number-of-dependents">Number of Dependents </label>
  <% end %>

  <select id="number-of-dependents" name="number_of_dependents" alt="Select the number of dependents you have" class="filter-item">
    <% { 
      '0' => '0 Dependents', '1' => '1 Dependent', '2' => '2 Dependents',
      '3' => '3 Dependents', '4' => '4 Dependents', '5' => '5 Dependents'
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:number_of_dependents] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>



<!-- Dependents Educational Assistance Spectific Controls: None -->

<!-- Online classes are only included on the search/profile page here -->
<!-- On the home page, its part of the school search section -->
<% if !use_label %>
  <div id="online-classes-form" class="form-group">
    <select id="online-classes" name="online_classes" alt="Online? Yes/No" class="filter-item">
      <% { 
        'yes' => 'All Online', 'no' => 'None Online', 'both' => 'Both online and on-campus'
      }.each_pair do |value, label| %>
        <option value="<%= value %>" 
          <%= 'selected' if value == @inputs[:online_classes] %>
        ><%= label %></option>
      <% end %>
    </select>
  </div>
<% end %>
</div><!--End Row-->
<!-- Military Status Modal -->
<div id="militaryStatus" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Military Status</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
        <p><a title="Post 9/11 GI Bill" href="http://www.benefits.va.gov/gibill/post911_gibill.asp" id="anch_378" target="_blank">Post 9/11 GI Bill</a> recipients serving on Active Duty (or transferee spouses of a servicemember on active duty) are not eligible to receive a monthly housing allowance.</p>
  </div>
</div>

<!-- Training Modal -->
<div id="training" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Which GI Bill benefit are you thinking of using?</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
    <p>
      You may be eligible for several types of VA education and training benefits depending on when and how long you served. There are several things to consider before you apply for a GI Bill program. One person may benefit more by using the Montgomery GI Bill while another may make an irrevocable election and use the Post-9/11 GI Bill instead. This tool allows you to compare the different programs and make an educated decision on which benefit best suits your needs.</p>
      <p>For more detailed information on eligibility requirements and general program benefits, please check out
      <a href="http://www.benefits.va.gov/gibill/comparison_tool.asp"target="_blank">this page</a>.
    </p>
  </div>
</div>

<!-- Active Duty Service Modal -->
<div id="activeService" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Cumulative Post-9/11 Service</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The <a title="Post-9/11 GI Bill" href="../post911_gibill.asp" id="anch_375">Post-9/11 GI Bill</a> provides financial support for education and a housing allowance to qualifying individuals with at least 90 days of aggregate service after September 10, 2001, or individuals discharged with a service-connected disability after 30 days. You must have received an honorable discharge to be eligible for the Post-9/11 GI Bill.</p>
<p>For more detailed information Cumulative Post-9/11 Service, please check out
      <a href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp#cumulativeservice"target="_blank">this page</a>.
    </p>
  </div>
</div><!-- END Active Duty Service Modal -->

<!-- Montgomery Bill Modal -->
<div id="montbill" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Completed an enlistment of (MGIB):</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The Montgomery GI Bill – Active Duty provides education benefits to Veterans and Servicemembers who have served at least two years of active duty. When using this tool, you will need to select the length of your original active duty enlistment obligation in order to get an estimate of your monthly benefit. The amount of time you served (2 year enlistment vs. 3+ year enlistment) will impact your monthly payment amount when using the Montgomery GI Bill. To learn more about MGIB please visit <a href="http://www.benefits.va.gov/gibill/mgib_ad.asp" id="anch_399" target="_blank">http://www.benefits.va.gov/gibill/mgib_ad.asp</a></p>

  </div>
</div><!-- END Montgomery Bill Modal -->

<!-- REAP Modal -->
<div id="reap" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Length of Longest Active Duty Tour (REAP)</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The REAP program pays benefits to eligible Reservists or Guard members who were called or ordered to active duty for at least 90 consecutive days in response to a war or national emergency declared by the President or Congress. REAP payment amounts are based on length of consecutive days of active duty service with rates increasing at one year and again at two years of consecutive service. To learn more about REAP please visit <a href="http://www.benefits.va.gov/gibill/reap.asp" id="anch_403" target="_blank">http://www.benefits.va.gov/gibill/reap.asp</a>.</p>

  </div>
</div><!-- END REAP Modal -->

<script>
$(document).ready(function() {
  /////////////////////////////////////////////////////////////////////////////
  // Military Status select show and hide
  /////////////////////////////////////////////////////////////////////////////
  $('#military-status').change(function() { 
    showDependent('#military-status', 'spouse', '#spouse-active-duty-form', 100);
  }).change();

  /////////////////////////////////////////////////////////////////////////////
  // GI Bill benefit select
  /////////////////////////////////////////////////////////////////////////////
  $('#gi-bill-chapter').change(function() { 
    var opt = $(this).val();

    showDependent('#gi-bill-chapter', '33', '#cumulative-service-form', 100);
    showDependent('#gi-bill-chapter', '30', '#enlistment-service-form', 100);
    showDependent('#gi-bill-chapter', '1607', '#consecutive-service-form', 100);

    <% if use_label %> 
      showDependent('#gi-bill-chapter', '31', '#voc-rehab-warning', 100);
    <% end %>
    
    showDependent('#gi-bill-chapter', '31', '#elig-for-post-gi-bill-form', 100);
    showDependent('#gi-bill-chapter', '31', '#number-of-dependents-form', 100);
  }).change();

  $('.filter-item').change(function() {
    runEstimator();
  }).change();
});

// Makes the modals work!
$("a[rel*=leanModal]").leanModal();
</script>
