<!-- ====================================================================== -->
<!-- == your_school                                                         -->
<!-- == Controls that are used to compute benefits calculations and pertain --> 
<!-- == to the user's schooling.                                            -->
<!--                                                                        -->
<!-- == use_label: true if using labels for these controls.                 --> 
<!-- == advanced: shows advanced search form.                               --> 
<!-- == form_id: the id selector for the form receiving the select event.   --> 
<!-- ====================================================================== -->
<div id="institution-search-form" class="form-group">

  <!-- If on the home form, online is part of the institution search -->
  <!-- It will not appear in the about you section -->
  <% if use_label %>  
    <div id="online-classes-form" class="form-group">
      <label>Will you be taking classes online? </label>
      <input type="radio" id="online-classes-all" name="online_classes" 
        value="yes" <%= 'checked' if "all" == @inputs[:online_classes] %> />
      <label class="radio" for="online-classes-all" style="display:inline-block">All</label>

      <input type="radio" id="online-classes-no" name="online_classes" 
        value="no" <%= 'checked' if "no" == @inputs[:online_classes] %> />
      <label class="radio" for="online-classes-no" style="display:inline-block">No</label>

      <input type="radio" id="online-classes-both" name="online_classes" 
        value="both" <%= 'checked' if "both" == @inputs[:online_classes] %> />
      <label class="radio" for="online-classes-both" style="display:inline-block">Both</label>
    </div>
  <% end %>

	<% if use_label %>
  	<label class="institution-search-label" for="institution-search">
  		Enter a city, school or employer name:
  	</label>
  <% end %>

  <div class="usa-search usa-search-big extra usa-width-one-whole">
    <div role="search">
      <input id="institution-search" name="institution_search" 
      	placeholder="City, school or employer name" 
      	title="Enter school/employer name"
        type="search" 
      />
      <%= submit_tag 'Search Schools', id: "search-button", :class => "usa-search-submit-text" %>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {  
  <% if current_page?(controller: 'institutions', action: 'home') %>
    $('#institution-search').val("");
  <% end %>
  
  /////////////////////////////////////////////////////////////////////////////
  // Institution autocomplete
  /////////////////////////////////////////////////////////////////////////////  
  $('#institution-search').autocomplete({
    minLength : 3,
    source: "<%= autocomplete_path(:json) %>",
    select: function(event, ui) {
      event.preventDefault();
      $("#institution-search").val(ui.item.value);
      $('<%= form_id %>').submit();
    },
    //focus: function(event, ui) {
      //event.preventDefault();
      // $("#institution-search").val(ui.item.label);
    //}
  });

  $('#institution-search').keypress(function(e) { 
    if ((e.keyCode == 13 || e.which == 13) && !$(this).val()) {
     	e.preventDefault();
     }
  });

  $("#search-button").click(function(e) {
    if (!$('#institution-search').val()) {
      e.preventDefault();
    }
  });
});
</script>