<!-- ====================================================================== -->
<!-- == your_school                                                         -->
<!-- == Controls that are used to compute benefits calculations and pertain --> 
<!-- == to the user's schooling.                                            -->
<!--                                                                        -->
<!-- == use_label: true if using labels for these controls.                 --> 
<!-- == advanced: shows advanced search form.                               --> 
<!-- == form_id: the id selector for the form receiving the select event.   --> 
<!-- ====================================================================== -->

<!-- Online classes -->
<div id="online-classes-form" class="form-group">
  <% if use_label %>
    <label for="online-classes">Will you be taking classes online? </label>
  <% end %>

  <select id="online-classes" name="online_classes" alt="Online? Yes/No">
    <% { 
      'yes' => 'All', 'no' => 'None', 'both' => 'Both online and on-campus'
    }.each_pair do |value, label| %>
      <option value="<%= value %>" 
        <%= 'selected' if value == @inputs[:online_classes] %>
      ><%= label %></option>
    <% end %>
  </select>
</div>

<div id="institution-search-form" class="form-group">
	<% if use_label %>
  	<label class="institution-search-label" for="institution-search">
  		Enter a school or employer name to search: 
  	</label>
  <% end %>

  <input id="institution-search" name="institution_search" 
  	placeholder="Search by School or Employer Name" 
  	title="Enter school/employer name" 
  />

<!-- Commenting out for now -->
<!--   <% if advanced %>    -->   	    
<!--    <div>               -->          
<!--      <a href="#advancedsearch">Advanced search</a> -->        
<!--    </div>              -->      
<!--   <% end %>           -->    

</div>
<%= submit_tag 'Search Schools' %>  

<script>
$(document).ready(function() {
  /////////////////////////////////////////////////////////////////////////////
  // Institution autocomplete
  /////////////////////////////////////////////////////////////////////////////
  $('#institution-search').autocomplete({
    minLength : 3,
    source: "<%= autocomplete_path(:json) %>",
    select: function(event, ui) {
      event.preventDefault();
      $("#institution-search").val(ui.item.value);
      $('<%= form_id %>').submit();
    },
    //focus: function(event, ui) {
      //event.preventDefault();
      // $("#institution-search").val(ui.item.label);
    //}
  });

  $('#institution').keypress(function(event) { 
    if (event.keyCode == 13) {
     	event.preventDefault();
     }
  });
});
</script>