<style>

.bar {
  fill: $va-body-accent-color;
}

.x.axis path {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

</style>

<div id="horiz-filters-noprint" class="usa-width-one-whole filter-horizontal">
  <%= render partial: 'yourself', locals: { use_label: false } %>
  <div class="usa-button-primary search-button-new">
  	<a href="<%= root_path %>">New Search</a>
  </div>
</div>


    <div id="backtosearch-noprint">
	    <a id="back-link" href="<%= @back_url %>"><i class="fa fa-chevron-left back-chevron"></i> Back to Search Results</a>
    </div>


<div>
	<%= render partial: 'profile_overview' %>
</div>

<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
		<button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
			<h3>Benefits Calculator</h3>
	  </button>
    <div id="collapsible-0" aria-hidden="true" class="usa-accordion-content">
    	<%= render partial: 'profile_calculator' %>
    </div>
  </div>
</div>  

<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-1">
    	<h3>Outcomes</h3>
    </button>
		<div id="collapsible-1" aria-hidden="false" class="usa-accordion-content">            
			<!-- Retention Rates -->
			<div id="retention-rates">
      	<h3>Retention Rate</h3>
        <div class="usa-width-one-half outcome-measure">
	 				<% if @veteran_retention_rate.present? && @all_student_retention_rate.present? %>
						<div class="outcome" id="retention-<%= @school.facility_code %>"></div>                        
						<%= render partial: 'profile_retention', 
							locals: { 
								outcome: "retention", 
								vrate: number_with_precision(@veteran_retention_rate * 100, precision: 2),
								crate: number_with_precision(@all_student_retention_rate * 100, precision: 2),
								nrate: 10.8
							} 
						%>
					<% else %>
						<p>Retention Rate Data Not Available</p>
					<% end %>
        </div>
      </div>
      <!-- END RETENTION RATE -->

			<!-- Graduation Rates -->
			<div id="grad-rates">
				<h3>Graduation Rate</h3>
        <div class="usa-width-one-half outcome-measure">
        	<% if is_number?(@school.graduation_rate_veteran) || is_number?(@school.graduation_rate_all_students) %>    
						<div class="outcome" id="graduation-<%= @school.facility_code %>"></div>                            
						<%= render partial: 'profile_grad_rates', 
							locals: { 
								outcome: "graduation", 
								vrate: number_with_precision(@school.graduation_rate_veteran.to_f * 100, precision: 2),
								crate: number_with_precision(@school.graduation_rate_all_students.to_f * 100, precision: 2),
								nrate: 59
							} 
						%>
          <% else %>
						<p>Grad Data Not Available</p>
					<% end %>
        </div>
      </div>
      <!-- END GRAD RATE -->
                    
			<!-- Salary Rates -->
			<div id="salary-rates">
				<h3>Salaries After Directly After College</h3>
        <div class="usa-width-one-half outcome-measure">
          <% if @school.salary_all_students.present? %>          
          	<div class="outcome" id="salaries-<%= @school.facility_code %>"></div>
						<%= render partial: 'profile_salaries',
            	locals: {
              	outcome: "salaries",
               	vrate: @school.salary_all_students,
               	nrate: 48127
            	}
            %>
        	<% else %>
						<p>Salary Data Not Available</p>
        	<% end %>
        </div>
      </div>
      <!-- END SALARY RATE -->
			
			<!-- Repayment -->
			<div id="repayment-rates">
				<h3>Repayment Rate</h3>
        <div class="usa-width-one-half outcome-measure">
          <% if @school.repayment_rate_all_students.present? %>            
	        	<div class="outcome" id="repayment-<%= @school.facility_code %>"></div>
        		<%= render partial: 'profile_repayment',
          		locals: {
            		outcome: "repayment",
      	        vrate: number_with_precision(@school.repayment_rate_all_students * 100, precision: 2),
        	      nrate: 86.3
          	  }
          	%>
	        <% else %>
						<p>Salary Data Not Available</p>
	        <% end %>
	      </div>
		  </div>
		  <!-- END REPAYMENT RATE -->
    </div>
    <!-- END Accordion ID Div -->
  </div>
  <!-- END Accordion class Div -->
</div>
<!-- END <div class="usa-width-three-fourths new-row"> -->
	
<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-2">
      <h3>School Summary</h3>
    </button>
    <div id="collapsible-2" aria-hidden="false" class="usa-accordion-content">
			<%= render partial: 'profile_summary' %>
    </div>
  </div>
</div>

<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-3">
      <h3>Caution Flags (<%= @school.complaints_main_campus_roll_up %> Student Complaints)</h3>
    </button>
    <div id="collapsible-3" aria-hidden="false" class="usa-accordion-content">
			<%= render partial: 'profile_complaints' %>
    </div>
  </div>
</div>

<div class="usa-width-three-fourths new-row">
    <div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-4">
      <h3>Historical School Information</h3>
    </button>
    <div id="collapsible-4" aria-hidden="false" class="usa-accordion-content">
			<%= render partial: 'profile_history' %>
    </div>
	</div>
</div>
