<style>

.graph {
  font-size: 10px;
  min-height: 200px;
    margin: 0;
}

.graph .graph-background {
  fill: #eee;
  stroke: #eee;
  stroke-width: 3;
}

.graph .graph-bar {
  fill: $va-body-accent-color;
  stroke: #eee;
  stroke-width: 3;
}

.graph .graph-bar.vet{
  fill: #B1B680; 
}

.graph .graph-bar.all{
  fill: #FAC922;
}

.graph .graph-bar-label {
  text-anchor: middle;
  font-weight: bold;
}

.graph .graph-axis-label {
  font-size: 8px;
  text-anchor: middle;
  text-transform: uppercase;
}

.graph .graph-line {
  stroke: #000;
  opacity: 0.18;
  stroke-width: 0.5;
}

.graph .graph-line-label {
  font-size: 8px;
  dominant-baseline: middle;
}

</style>
<% 
  school_name = @school.institution || "" 
  school_name = @school.institution.gsub(/\b-\b/, " - ")
      .split(/\s/).map(&:capitalize).join(" ").gsub(" - ", "-")

  content_for :title, "#{school_name} - GI Bill Comparison Tool" 
%>

<div id="content" class="interior"><!--Breadcrumb -->
  <a href="#content" class="sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent">
            <a href="https://www.vets.gov/education/">Education Benefits</a>
          </li>
          <li class="parent">
            <a href="https://www.vets.gov/education/gi-bill/">GI Bill</a>
          </li>
          <li class="parent">
            <a href="<%= root_path %>">GI Bill<sup class="trademark">&reg;</sup> Comparison Tool</a>
          </li>
          <li class="active">
            Institution
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="action-bar"><!--Horizontal Filters-->
    <div class="row">
      <div class="small-10 medium-10 columns filter-horizontal" id="horiz-filters-noprint2">
        <%= render partial: 'yourself', locals: {use_label: false} %>
      </div>
      <div class="medium-2 columns">
        <a href="<%= root_path %>" class="button filter-button">Reset Search</a>
      </div>
    </div>
  </div><!--end action bar-->

  <div class="section one"><!--Content Container-->
    <div class="row onerempadleft">
      <% if @inputs[:source] != "home" %>
        <div id="backtosearch-noprint">
          <a id="back-link" href="<%= @back_url %>" class="backlink">
            <i class="fa fa-chevron-left back-chevron"></i>
            Back to Search Results
          </a>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="large-8 columns"><!--Left Container-->
        <div class="row"><!--Left 9 Columns-->
          <%= render partial: 'profile_overview' %>
        </div>       
      </div><!-- End Left 8 col span -->
    
      <div class="large-4 column"><!--Additional Resources-->
        <%= render partial: 'profile_additional_resources' %>
      </div>
    </div>
    
<!--Benefits Calculator-->
<div class="row">  
<div class="small-12 columns accordion-vert-spacing">
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#panel-benefits-calculator" aria-expanded="true">Benefits Calculator</a>
            <div id="panel-benefits-calculator" class="content active">
<%= render partial: 'profile_calculator' %>
            </div>
        </li>
    </ul>
  </div>
</div><!--end row-->
    
<!--Outcomes-->
    
<div class="row">      
<div class="small-12 columns accordion-vert-spacing">
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#panel-outcomes" aria-expanded="true">Outcomes</a>
            <div id="panel-outcomes" class="content active"> 
    <div class="row">
		  <!-- Retention Rates -->
      <div class="medium-6 columns">
        <h4>Retention Rate<a id="go" rel="leanModal" name="status" href="#retention" class="info-icons"><i id="retention-rate-info" class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h4>
        <% 
          isa_v = is_number?(@veteran_retention_rate)
          isa_c = is_number?(@all_student_retention_rate)

          vrate = isa_v ? number_with_precision(@veteran_retention_rate.to_f * 100, precision: 2) : "null";
          crate = isa_c ? number_with_precision(@all_student_retention_rate.to_f * 100, precision: 2) : "null";

          if isa_v || isa_c
        %> 
          <div id="retention-rates" class="graph"></div>
          <script>
            new Graph({
              target : '#retention-rates',
              bars : [
                { name : 'vet', value : <%= vrate %> },
                { name : 'all', value : <%= crate %> }
              ],
              average : 67.0
            });
          </script>
				<% else %>
					<p>Retention Rate Data Not Available</p>
				<% end %>
      </div>     
      <!-- END RETENTION RATE -->

      <!-- Graduation Rates -->
      <div class="medium-6 columns">
		  <h3>Graduation Rate<a id="go" rel="leanModal" name="status" href="#gradrates" class="info-icons"><i id="graduation-rate-info" class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h3>
      <% 
        isa_v = is_number?(@school.graduation_rate_veteran)
        isa_c = is_number?(@school.graduation_rate_all_students)

        vrate = isa_v ? number_with_precision(@school.graduation_rate_veteran.to_f * 100, precision: 2) : "null";
        crate = isa_c ? number_with_precision(@school.graduation_rate_all_students.to_f * 100, precision: 2) : "null";

        if isa_v || isa_c
      %>    
        <div id="grad-rates" class="graph"></div>
        <script>
          new Graph({
            target : '#grad-rates',
            bars : [
              { name : 'vet', value : <%= vrate %> },
              { name : 'all', value : <%= crate %> }
            ],
            average : 44.0
          });
        </script>
      <% else %>
        <p>Grad Data Not Available</p>
      <% end %>
      </div>
      <!-- END GRAD RATE -->
      </div>      
   <div class="row">             
			<!-- Salary Rates -->
      <div class="medium-6 columns">
        <h3>Average Salaries<a id="go" rel="leanModal" name="status" href="#salaries" class="info-icons"><i id="average-salaries-info" class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h3>
        <% if @school.salary_all_students.present? %>
          <div id="salary-rates" class="graph"></div>
          <script>
            new Graph({
              target:  '#salary-rates',
              bars:    [ 
                { name : 'vet', value : <%= "null" %> },
                { name : 'all', value : <%= @school.salary_all_students %> } 
              ],
              max: 120000,
              average: 34343
            });
          </script>
        <% else %>
          <p>Salary Data Not Available</p>
        <% end %>
      </div>
      <!-- END SALARY RATE -->

<!-- Repayment -->
<div class="medium-6 columns">
  			<h3>Repayment Rate<a id="go" rel="leanModal" name="status" href="#repayment" class="info-icons"><i id="repayment-rate-info" class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h3>
        <% if @school.repayment_rate_all_students.present? %>
          <div id="repayment-rates" class="graph"></div>
          <script>
            new Graph({
              target:  '#repayment-rates',
              bars:    [ 
                { name : 'vet', value : <%= "null" %> },
                { name : 'all', 
                  value : <%= number_with_precision(@school.repayment_rate_all_students * 100,precision: 2) %> } 
              ],
              average: 67.0 
            });
          </script>
        <% else %>
  			 <p>Salary Data Not Available</p>
        <% end %>

</div><!-- END REPAYMENT RATE -->
    </div>
                
<div class="small-12 columns access-sheet clearfix">
            <p>Access a comprehensive spreadsheet of <a id="veteran-outcome-spreadsheet-link-out" title="Veteran Outcome Measures" href="http://www.benefits.va.gov/gibill/docs/OutcomeMeasuresDashboard.xlsx" id="anch_373" target="_blank">Veteran Outcome Measures</a> (<i class="fa fa-file-excel-o info-icons"></i> | 14.4 MB)</p></div>      

  </div>
        </li>
    </ul>
        </div>
</div><!--end row-->
    
<!--School Summary--> 
    
<div class="row">      
<div class="small-12 columns accordion-vert-spacing">
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#panel-school-summary" aria-expanded="true">School Summary</a>
            <div id="panel-school-summary" class="content active"> 
			<%= render partial: 'profile_summary' %>
            </div>
        </li>
    </ul>
  </div>
</div><!--end row-->

<!--Caution Flags/Complaints--> 
    
<div class="row">  
<div class="small-12 columns accordion-vert-spacing">
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
      <a href="#panel-caution-flags" aria-expanded="true">Caution Flags (<%= @school.complaints_main_campus_roll_up %> Student Complaints)</a>
        <div id="panel-caution-flags" class="content active"> 
			<%= render partial: 'profile_complaints' %>
        </div>
        </li>
    </ul>
  </div>
</div><!--end row-->

<!--Historical School Information--> 
    
<div class="row">      
<div class="small-12 columns accordion-vert-spacing">
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#panel-historical-info" aria-expanded="true">Historical School Information</a>
            <div id="panel-historical-info" class="content active"> 
			<%= render partial: 'profile_history' %>
        </div>
	</div>
</div>
</div><!--end row-->

<!-- Utility Nav start -->
<div class="row">      
     <div class="small-12 columns">
<a class="applinks" href="http://www.benefits.va.gov/gibill/comparison_tool/about_this_tool.asp"
onclick="track('Tool Tips', 'About this Tool');" target="_blank" >About this Tool</a>

<!--         <a class="applinks" href="mailto:223D.VBAVACO@va.gov?subject=Comparison Tool Data" title="Send us an email at 223D.VBAVACO@va.gov with “Comparison Tool” in the subject line.">Report Data Inaccuracies</a>-->

         <a href="http://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx" onclick="track('Tool Tips', 'Full Data');" class="applinks">Download Data on All Schools (Excel)</a>
</div>
    </div>
<!-- Utility Nav end --> 
</div><!--end row-->
    

    
</div><!-- End Content -->
<!-- modals -->

<!-- Retention Rates -->
<div id="retention" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Retention Rates</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The share of first-time, full-time undergraduates who returned to the institution after their freshman year.</p>

  </div>
</div><!-- END Retention Rates -->

<!-- Graduation Rates -->
<div id="gradrates" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Graduation Rates</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The graduation rate after six years for schools that award predominantly four-year degrees and after four years for all other schools. These rates are only for full-time students enrolled for the first time.</p>
      <p>Student veteran graduation rates measure full-time Post-9/11 GI Bill student's graduation reported within the VA system while the student is using benefits.</p>

  </div>
</div><!-- END Graduation Rates -->

<!-- Average Salaries -->
<div id="salaries" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Average Salaries</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The median earnings of former students who received federal financial aid, at 10 years after entering school.</p>

  </div>
</div><!-- END Average Salarie -->


<!-- Repayment rates -->
<div id="repayment" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Repayment Rate</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The share of students who have repaid at least $1 of the principal balance on their federal loans within 3 years of leaving school. </p>

  </div>
</div><!-- END Repayment rates -->
        
</div><!-- End section one from top -->

<script>    
// Makes the modals work!
$("a[rel*=leanModal]").leanModal();
</script>