<div class="usa-width-one-whole filter-horizontal">
  <%= render partial: 'yourself', locals: { use_label: false } %>
  <p class="pull-right">
  	<a href="<%= root_path %>">Select New Schools</a>
  </p>
</div>
<!-- This closing div is extra .... but necessary? -->
</div>


<div class="usa-width-one-whole">
	<%= render partial: 'profile_overview' %>
</div>

<div>
	<%= render partial: 'profile_additional_resources' %>
</div>

<div class="usa-width-one-whole">
	<%= render partial: 'profile_benefits_calculator' %>
</div>
