<style>

.graph {
  font-size: 10px;
  min-height: 200px;
}

.graph .graph-background {
  fill: #eee;
  stroke: #eee;
  stroke-width: 3;
}

.graph .graph-bar {
  fill: $va-body-accent-color;
  stroke: #eee;
  stroke-width: 3;
}

.graph .graph-bar.vet{
  fill: #B1B680; 
}

.graph .graph-bar.all{
  fill: #FAC922;
}

.graph .graph-bar-label {
  text-anchor: middle;
  font-weight: bold;
}

.graph .graph-axis-label {
  font-size: 8px;
  text-anchor: middle;
  text-transform: uppercase;
}

.graph .graph-line {
  stroke: #000;
  opacity: 0.18;
  stroke-width: 0.5;
}

.graph .graph-line-label {
  font-size: 8px;
  dominant-baseline: middle;
}

</style>

<div id="horiz-filters-noprint" class="usa-width-one-whole filter-horizontal">
  <%= render partial: 'yourself', locals: { use_label: false } %>
  <div class="usa-button-primary search-button-new">
  	<a href="<%= root_path %>">New Search</a>
  </div>
</div>


    <div id="backtosearch-noprint">
	    <a id="back-link" href="<%= @back_url %>"><i class="fa fa-chevron-left back-chevron"></i> Back to Search Results</a>
    </div>


<div>
	<%= render partial: 'profile_overview' %>
</div>

<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
		<button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-0">
			<h3>Benefits Calculator</h3>
	  </button>
    <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
    	<%= render partial: 'profile_calculator' %>
    </div>
  </div>
</div>  

<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-1">
    	<h3>Outcomes</h3>
    </button>

		<div id="collapsible-1" aria-hidden="false" class="usa-accordion-content">   
            
 <div class="usa-width-one-whole">
		  <!-- Retention Rates -->
      <div class="outcome-measure">
        <h3>Retention Rate<a id="go" rel="leanModal" name="status" href="#retention"><i class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h3>
	 			<% if @veteran_retention_rate.present? && @all_student_retention_rate.present? %>
          <div id="retention-rates" class="graph"></div>
          <script>
            new Graph({
              target : '#retention-rates',
              bars : [
                { name : 'vet', value : <%= number_with_precision(@veteran_retention_rate * 100, precision: 2) %>, },
                { name : 'all', value : <%= number_with_precision(@all_student_retention_rate * 100, precision: 2) %>, }
              ],
              average : 10.8
            });
          </script>
				<% else %>
					<p>Retention Rate Data Not Available</p>
				<% end %>
      </div>     
      <!-- END RETENTION RATE -->

      <!-- Graduation Rates -->
      <div class="outcome-measure">
		  <h3>Graduation Rate<a id="go" rel="leanModal" name="status" href="#gradrates"><i class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h3>
      <% 
        isa_v = is_number?(@school.graduation_rate_veteran)
        isa_c = is_number?(@school.graduation_rate_all_students)

        vrate = isa_v ? number_with_precision(@school.graduation_rate_veteran.to_f * 100, precision: 2) : "null";
        crate = isa_c ? number_with_precision(@school.graduation_rate_all_students.to_f * 100, precision: 2) : "null";

        if isa_v || isa_c
      %>    
        <div id="grad-rates" class="graph"></div>
        <script>
          new Graph({
            target : '#grad-rates',
            bars : [
              { name : 'vet', value : <%= vrate %> },
              { name : 'all', value : <%= crate %> }
            ],
            average : 59
          });
        </script>
      <% else %>
        <p>Grad Data Not Available</p>
      <% end %>
      </div>
      <!-- END GRAD RATE -->
                   
			<!-- Salary Rates -->
      <div class="outcome-measure">
        <h3>Average Salaries<a id="go" rel="leanModal" name="status" href="#salaries"><i class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h3>
        <% if @school.salary_all_students.present? %>
          <div id="salary-rates" class="graph"></div>
          <script>
            new Graph({
              target:  '#salary-rates',
              bars:    [ { name : 'all', value : <%= @school.salary_all_students %> } ],
              max: 120000,
              average: 48127
            });
          </script>
        <% else %>
          <p>Salary Data Not Available</p>
        <% end %>
      </div>
      <!-- END SALARY RATE -->

			<!-- Repayment -->
      <div class="outcome-measure">
  			<h3>Repayment Rate<a id="go" rel="leanModal" name="status" href="#repayment"><i class="fa fa-info-circle info-icons outcomes-learnmore"></i></a></h3>
        <% if @school.repayment_rate_all_students.present? %>
          <div id="repayment-rates" class="graph"></div>
          <script>
            new Graph({
              target:  '#repayment-rates',
              bars:    [ 
                { name : 'all', 
                  value : <%= number_with_precision(@school.repayment_rate_all_students * 100,precision: 2) %> } 
              ],
              average: 86.3 
            });
          </script>
        <% else %>
  			 <p>Salary Data Not Available</p>
        <% end %>
      </div>
      </div><!-- END REPAYMENT RATE -->
      <p>Access a comprehensive spreadsheet of <a title="Veteran Outcome Measures" href="http://www.benefits.va.gov/gibill/docs/OutcomeMeasuresDashboard.xlsx" id="anch_373" target="_blank">Veteran Outcome Measures</a> (<i class="fa fa-file-excel-o info-icons"></i> | 14.4 MB)</p>      
    </div><!-- END Accordion ID Div -->
  </div><!-- END Accordion class Div -->
</div><!-- END <div class="usa-width-three-fourths new-row"> -->

<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-2">
      <h3>School Summary</h3>
    </button>
    <div id="collapsible-2" aria-hidden="false" class="usa-accordion-content">
			<%= render partial: 'profile_summary' %>
    </div>
  </div>
</div>

<div class="usa-width-three-fourths new-row">
	<div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-3">
      <h3>Caution Flags (<%= @school.complaints_main_campus_roll_up %> Student Complaints)</h3>
    </button>
    <div id="collapsible-3" aria-hidden="false" class="usa-accordion-content">
			<%= render partial: 'profile_complaints' %>
    </div>
  </div>
</div>

<div class="usa-width-three-fourths new-row">
    <div class="usa-accordion">
    <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-4">
      <h3>Historical School Information</h3>
    </button>
    <div id="collapsible-4" aria-hidden="false" class="usa-accordion-content">
			<%= render partial: 'profile_history' %>
    </div>
	</div>
</div>

<!-- modals -->

<!-- Retention Rates -->
<div id="retention" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Retention Rates</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>Measures full-time and part-time Post-9/11 GI Bill student's attendance at the same institution over time. </p>

  </div>
</div><!-- END Retention Rates -->

<!-- Graduation Rates -->
<div id="gradrates" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Graduation Rates</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>Measures full-time and part-time Post-9/11 GI Bill student's graduation reported within the VA system while the student is using benefits.</p>

  </div>
</div><!-- END Graduation Rates -->

<!-- Average Salaries -->
<div id="salaries" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Average Salaries</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The median earnings of former students who received federal financial aid, at 10 years after entering school.</p>

  </div>
</div><!-- END Average Salarie -->


<!-- Repayment rates -->
<div id="repayment" class="modal-style" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -202px; top: 200px;">
  <div>
    <h3>Repayment Rate</h3>
    <a class="modal_close" href="#"><i class="fa fa-close"></i></a>
      <p>The share of students who have repaid at least $1 of the principal balance on their federal loads within 3 years of leaving school. </p>

  </div>
</div><!-- END Repayment rates -->


<script>    
// Makes the modals work!
$("a[rel*=leanModal]").leanModal();
</script>