<% content_for :title, "Search Results - \"#{@inputs[:institution_search]}\" - GI Bill Comparison Tool" %>

<% if @kilter.count_all > 0 %>
  <div id="content" class="interior">
    <a href="#content" class="sr-only">Content starts here.</a>
    <div class="splash">
      <div class="row">
        <div class="small-12 columns">
          <ul class="breadcrumbs" role="menubar" aria-label="Primary">
            <li class="parent">
              <a href="<%= root_path %>">GI Bill<sup class="trademark">&reg;</sup> Comparison Tool</a>
            </li>
            <li class="active">Search</li>
          </ul>
        </div>
      </div>
    </div><!-- end splash -->

    <div class="action-bar">
      <div class="row">
        <div class="small-10 medium-10 columns filter-horizontal" id="horiz-filters-noprint2">
            <%= render partial: 'yourself', locals: {use_label: false} %>
        </div>
        <div class="medium-2 columns">
          <a href="<%= root_path %>" class="button filter-button">Reset Search</a>
        </div>    
      </div>
    </div><!--end action bar-->

  <div class="section one">
    <div class="row">
      <div class="small-12 medium-3 columns">
        <ul class="accordion" data-accordion>
          <li class="accordion-navigation search-filters-header">
            <a id="open-or-close-filters-accordion" href="#panel-filters">Filter Results</a>
            <div id="panel-filters" class="content">           
              <div id="search-filters">
                <div class="usa-card-content">      
                  <%= render partial: 'filter' %>
                </div>
              </div>   
            </div>
          </li>
        </ul>
      </div>
      
      <div class="small-12 medium-9 columns">
        <div class="search-count">Showing 
          <strong><%= @kilter.count_filtered %></strong> results for the term 
          <strong><i>'<%= @inputs[:institution_search] %>'</i></strong>. 
        </div>
        
        <%= render partial: 'school_summary', 
            collection: @kilter.paged_filtered_rset,
            locals: { url: @kilter.to_href(profile_path, @inputs, page: @page) }
        %>
        <div class="pagination-bottom clearfix">
          <% prev_str = %Q(<i class="fa fa-angle-left"></i> Previous) %>
          <% next_str = %Q(Next <i class="fa fa-angle-right"></i>) %>
          <%= @kilter.pagination_links(search_page_path, @inputs, prev_str, next_str).html_safe %>
        </div>
      </div>
    </div>
  </div><!--end PAGINATION row-->      
<% else %>
  <div class="search-count"> 
    There were no results that matched 
    <strong><i>'<%= @inputs[:institution_search] %>'</i></strong>.  
    Please try a <%= link_to "different search", root_path %>. 
  </div>
<% end %>

<!-- Other JS plugins can be included here -->

<script>
  $(document).foundation();
</script>