<div class="usa-width-one-whole filter-horizontal">
  <%= render partial: 'yourself', locals: {use_label: false} %>
  <div class="usa-button-primary search-button-new">
    <a href="<%= root_path %>">New Search</a>
  </div>
</div>

<div class="usa-grid-full">
  <div class="usa-width-one-fourth">
    <%= render partial: 'filter' %>
  </div>

  <div>
    <div class="usa-width-three-fourths">
      <p class="search-count-headline">
        <span class="light-type">Showing</span>
        <strong><%= @schools.length %></strong> of <%= @total_schools %>
        <span class="light-type">
          results matching the term
          <em><strong>"<%= @inputs[:institution_search] %>"</strong></em>
        </span>

      </p>
      <%= render partial: 'school_summary', collection: @schools %>
    </div>
  </div>
</div>