<!DOCTYPE html>
<html>
<head>
  <title>Gi BillComparison Tool</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <%= render partial: "layouts/header" %>

  <div class="main-content">
    <div class="usa-grid-full">
      <%= yield %>
    </div>
  </div>

  <%= render partial: "layouts/footer" %>

</body>
</html>

